.chatbot-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: linear-gradient(135deg, #74c0fc, #5f3dc4);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.chatbot-box {
  position: fixed;
  bottom: 100px;
  right: 25px;
  width: 300px;
  background: white;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  overflow: hidden;
}

.chatbot-box h4 {
  margin: 0;
  padding: 15px;
  background: #5f3dc4;
  color: white;
  text-align: center;
}

.chat-area {
  height: 200px;
  padding: 10px;
  overflow-y: auto;
}

.bot {
  background: #f1f3f5;
  padding: 8px 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  width: fit-content;
}

.user {
  background: #74c0fc;
  color: white;
  padding: 8px 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  margin-left: auto;
  width: fit-content;
}

.input-area {
  display: flex;
  padding: 10px;
  gap: 5px;
}
