.navbar {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.navbar h2 {
  color: #5f3dc4;
  margin: 0;
}

.navbar a {
  color: #444;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 600;
}

.navbar a:hover {
  color: #5f3dc4;
}
